{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <p id="about-me">ABOUT ME</p>
    
    <div class="container-about">
        <div class ="education">
            <p id="my-education">Education</p>
            <img src="{% static 'img/about-wave-2.png' %}" class="wave-about-2">
            <div class="education">
                <div class="education-line"></div>
                <div class="edu-content">
                    <p class="edu-date" id="date1">2018 - Now</p>
                    <p class="edu-name" id="name1">University of Indonesia <br>Information System Student</p>
                </div>
                <div class="edu-content">
                    <p class="edu-date" id="date2">2015 - 2018</p>
                    <p class="edu-name" id="name2">Fons Vitae 1 Senior High School</p>
                </div>
            </div>
        </div>
   
        <div class="skills">
            <p id="my-skills">My Skills</p>
            <div class="skills-stamps">
                <div class="skill-content">
                    <img src="{% static 'img/python-stamp.png' %}">
                    <p>Python</p>
                </div>
                <div class="skill-content">
                    <img src="{% static 'img/Java-stamp.png' %}">
                    <p>Java</p>
                </div>
                <div class="skill-content">
                    <img src="{% static 'img/html-stamp.png' %}">
                    <p>HTML</p>
                </div>
                <div class="skill-content">
                    <img src="{% static 'img/css-stamp.png' %}">
                    <p>CSS</p>
                </div>
            </div>
        </div>
        <div class="about-center-line"></div>
        <div class="postcard-text">
                <p>Hello! I’m Michelle!<br>
                I’m interested in design and technology, especially<br>
                at web development and I’m ready to send this<br>
                postcard all over the world! See you soon! :D 
                </p> 
        </div>
            
        <div class="postcard-line">
            <hr>
            <hr>
            <hr>
            <hr>
        </div>
    </div>
    
    <img src="{% static 'img/photo-stamp.png' %}" class="photo-stamp">
    <img src="{% static 'img/wave-about-1.png' %}" class="wave-about-1">
    <p class="text-background zindex-dropdown" id="about"> ABOUT </p>
{% endblock %}
   