{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <div class="contact-text">
        <img src="{% static 'img/line-wave.png' %}" id="left-wave">
        <p id="get-in-touch">LET’S GET IN TOUCH WITH ME!</p>
        <p id="michelle-melissa">Michelle Melissa</p>
        <img src="{% static 'img/line-wave.png' %}" id="right-wave">
    </div>

    <div class="contact-icon">
        <div><a href="https://www.linkedin.com/in/michelle-melissa" target="_blank"><img src="{% static 'img/linkedin.png' %}"></a></div>
        <div><a href="https://www.instagram.com/chelmel.18/" target="_blank"><img src="{% static 'img/instagram.png' %}"></a></div>
        <div><a href="mailto:melissa.chelle18@gmail.com" target="_blank"><img src="{% static 'img/email (1).png' %}"></a></div>
        <div><a href="https://gitlab.com/chelmel18" target="_blank"><img src="{% static 'img/gitlab.png' %}"></a></div>
    </div>
    <p class="text-background" id="contact"> CONTACT </p>
{% endblock %}
    