{% extends "base.html" %}
{% load static %}

{% block page_content %}
    <p id="my-experiences">MY EXPERIENCES</p>
    <div class="list-exp">
        <ul class="list-unstyled">
        <li class="media">
          <img src="{% static 'img/profpic.jpg' %}" class="mr-3" alt="Pemira IKM Fasilkom UI Logo">
          <div class="media-body">
            <h5 class="mt-0 mb-1">September 2019 - Present</h5>
            <p class="exp-content">General Secretary of Pemira IKM Fasilkom UI 2019</p>
          </div>
        </li>
        
        <li class="media">
          <img src="{% static 'img/logo-bem-text.png' %}" class="mr-3" alt="BEM Fasilkom UI Logo">
          <div class="media-body">
            <h5 class="mt-0 mb-1">February 2019 - Present</h5>
            <p class="exp-content">Staff of Media Bureau at BEM Fasilkom UI 2019</p>
        </div>
        </li>

        <li class="media my-4">
            <img src="{% static 'img/logo-wisgen.png' %}" class="mr-3" alt="Even Graduation Ceremony of Fasilkom UI 2019 Logo">
            <div class="media-body">
              <h5 class="mt-0 mb-1">July - August 2019</h5>
              <p class="exp-content">Staff of Decoration at Even Graduation Ceremony of Fasilkom UI 2019</p>
            </div>
        </li>

        <li class="media my-4">
            <img src="{% static 'img/logo-compfest.jpg' %}" class="mr-3" alt="Compfest XI Logo">
            <div class="media-body">
                <h5 class="mt-0 mb-1">February - September 2019</h5>
                <p class="exp-content">Staff of Food and Beverages at Compfest XI</p>
            </div>
          </li>
        
        <li class="media my-4">
            <img src="{% static 'img/logo-cgt.jpg' %}" class="mr-3" alt="CGT in Action Logo">
            <div class="media-body">
                <h5 class="mt-0 mb-1">February - May 2019</h5>
                <p class="exp-content">Staff of Fundraising at 26th CGT in Action</p>
            </div>
          </li>
        
        <li class="media my-4">
            <img src="{% static 'img/logo-bkui.jpg' %}" class="mr-3" alt="BKUI 2018 Logo">
            <div class="media-body">
                <h5 class="mt-0 mb-1">September - November 2019</h5>
                <p class="exp-content">Volunteer of Finance at Bedah Kampus UI 2018</p>
            </div>
          </li>
        
      </ul>
    </div>
    <!--
    
    <div class="experiences">
        <div class="vertical-line"></div>
        <div class="left-container">
            <div class="content">
                <h1 class="date"> AKU KIRI </h1>
                <p class="experience-name"> General Secretary of Pemira IKM Fasilkom UI 2019 </p>
            </div>
        </div>
        <div class="right-container">
                <h1 class="date"> KAMU KANAN </h1>
                <p class="experience-name"> General Secretary of Pemira IKM Fasilkom UI 2019 </p>
        </div>
    </div>
    -->
    <p class="text-background" id="experience"> EXPER</p>
{% endblock %}
    