{% extends "base.html" %}

{% load static %}
{% block page_content %}
    <img src="{% static 'img/photo2-01.jpg' %}" id="profile-photo">
    <img src="{% static 'img/line-wave.png' %}" id="wave-profile">
    <h1 class="hello-text">Hello I’m Michelle!<br>Welcome to my page!</h1>
    <p class="text-background" id="hello"> HELLO </p>
{% endblock %}
