{% extends "base.html" %}
{% load static %}

{% block page_content %}

    <p id="my-portfolio">PORTFOLIO</p>
    <div class="portfolio-card">
      <div class="card" style="width: 18rem;">
          <img src="{% static 'img/nyepi.png' %}" class="card-img-top" alt="Nyepi Card">
          <div class="card-body">
            <h5 class="card-title">Bali Day of Silence Card</h5>
            <p class="card-text">I designed a Bali Day of Silence greeting card for BEM Fasilkom UI</p>
          </div>
        </div>
      <div class="card" style="width: 18rem;">
          <img src="{% static 'img/idul-adha.png' %}" class="card-img-top" alt="Idul Adha Card">
          <div class="card-body">
            <h5 class="card-title">Eid al Adha Card</h5>
            <p class="card-text">I designed an Eid al Adha greeting card for BEM Fasilkom UI</p>
          </div>
        </div>
      <div class="card" style="width: 18rem;">
          <img src="{% static 'img/jumat-agung.png' %}" class="card-img-top" alt="Jumat Agung Card">
          <div class="card-body">
            <h5 class="card-title">Good Friday Card</h5>
            <p class="card-text">I designed a Good Friday greeting card for BEM Fasilkom UI</p>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
          <img src="{% static 'img/waisak.png' %}" class="card-img-top" alt="Waisak Card">
          <div class="card-body">
            <h5 class="card-title">Vesak Card</h5>
            <p class="card-text">I designed a Vesak greeting card for BEM Fasilkom UI</p>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
          <img src="{% static 'img/banner-ilkom.png' %}" class="card-img-top" alt="Banner Ilmu Komputer">
          <div class="card-body">
            <h5 class="card-title">Computer Science Banner for Bedah Kampus UI 2019</h5>
            <p class="card-text">I designed a Computer Science Banner for Bedah Kampus UI 2019</p>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="{% static 'img/banner-si.png' %}" class="card-img-top" alt="Banner Sistem Informasi">
        <div class="card-body">
          <h5 class="card-title">Information System Banner for Bedah Kampus UI 2019</h5>
          <p class="card-text">I designed an Information System Banner for Bedah Kampus UI 2019</p>
        </div>
      </div>
    <div class="card" style="width: 18rem;">
      <img src="{% static 'img/id-card.png' %}" class="card-img-top" alt="ID Card Design">
      <div class="card-body">
        <h5 class="card-title">ID Card of Even Graduation Ceremony of Fasilkom UI</h5>
        <p class="card-text">I designed an ID Card for Even Graduation Ceremony of Fasilkom UI 2019</p>
      </div>
    </div>
    </div>
   
  <p class="text-background" id="portfolio"> PORTFOLIO </p>
{% endblock %}
    