{% extends "base.html" %}

{% load static %}
{% block page_content %}
    <p id="my-experiences">MY SCHEDULE</p>
    <a href="{% url 'story4:myform' %}">
        <button type="button" class="btn btn-primary center-block" id="add-schedule">Tambah Jadwal</button>
    </a>
    {% for item in daftar_item %}
    <div class="card schedule" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ item.kategori }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ item.hari }}, {{ item.tanggal }} ({{ item.waktu }})</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{ item.tempat }}</h6>
            <p class="card-text">{{ item.namakegiatan }}</p>
            <a href="{% url 'story4:mydelschedule' id=item.id%}" class="card-link">Delete</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}