{% extends "base.html" %}

{% load static %}
{% block page_content %}

<form action="" method="POST" class="all-form">
    {% csrf_token %}
  <div class="form-group">
      <label>Nama Kegiatan</label>
      {{ form.namakegiatan}}
  </div>
  <div class="form-group">
    <label>Kategori</label>
    {{ form.kategori }}
    
  </div>
  <div class="form-group">
    <label>Tempat</label>
    {{ form.tempat }}
    
  </div>
  <label for="InputTempat">Tanggal dan Waktu</label>
  <div class="form-row">
    <div class="col-2">
        {{ form.hari }}
    </div>
    <div class="col-2">
        {{ form.tanggal }}
    </div>
    <div class="col-1.5">
        {{ form.waktu }}
    </div>
    
  </div>
  <a href="{% url 'story4:myschedule' %}"> <button type="button" class="btn btn-primary" id="back">Back</button> </a>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}